<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="margin: 0px 20px 0px 20px ; padding: 0px 20px 0px 20px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <%= image_tag("https://www.geeklyinc.com/images/gc18/gclogo.jpg", alt: "Geekly con") %>
        </td>
    </tr>
    </table>
    <%= Event.markdown.render(@body).html_safe %>

    <% if @day == "ALL" %>
      <h2>Your Schedule:</h2>
    <% else %>
      <h2>Your <%= @day %> Schedule:</h2>
    <% end %>
    <%= @events.html_safe %>
    <p><%= link_to('To unsubscribe from these emails, please delete your account', edit_user_registration_url(@user)) %></p>
  </body>
</html>